  .main {
    background-color: #361c02; /* For browsers that do not support gradients */
    height: 100%;
    /*background-image: linear-gradient(#361c02, burlywood);*/
    background-image: linear-gradient(
    to bottom, 
    #361c02 0px,
    #361c02 400px,
    burlywood 100%
    );
  }

  body, html {
    height: 100%;
  }

  .nav {
    margin-bottom: 30px;
    background-color: #39414f;
  }

  a:hover {
    text-decoration: none;
  }

  .nav-link {
    color: burlywood;
  }
  .nav-link:hover {
    color: #39414f;
    background-color: burlywood;
  }

  .main_title {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
    color: burlywood;
  }
  
  .nav {
    justify-content: center;
    font-weight: bold;
  }

p {
    color:burlywood;
  }

  .history {
    background-image: url('../resources/coffee_bckgrnd.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .page_title {
    color: burlywood;
    padding-left: 30px;
    padding-top: 30px;
    text-align: center;
}

.b_title {
  color: burlywood;
  text-align: center;
}

ol li{
  list-style-position: inside;
  
}

.ol_list {
  color:burlywood;
  padding-top: 10px;
  text-align: center;
}

  

  .process_page_title {
    color: burlywood;
  }

  .process_step {
    text-align: center;
    color: burlywood;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .paragraph {
    color: burlywood;
    text-align: center;
  }

  .results {
    background-color: burlywood;
  }

  .machine_learning {
    /*background-image: url('../resources/mach_lrning.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;*/
    background-color: burlywood;
  }

  .source_page {
    background-color: burlywood;
  }

  .source_title {
    color: burlywood;
    text-align: center;
    padding-bottom: 20px;
    
  }

  .source_subtitles {
    text-align: center;
    padding-bottom: 10px;
    color: burlywood;
}
  .source_articles {
    text-align: center;
  }

  .source_articles ul {
    justify-content: center;
    list-style: none;
  }


  .source_data {
    text-align: center;
    color: burlywood;
    text-decoration: none;
  }

  .source_data ul li{
    text-align: center;
    color: burlywood;
    list-style-type: none;
  }

  .source_data ul li a:hover {
    background-color: burlywood;
    color: #39414f;
    border-radius: 5px;
  }

  .source_data ul li a{
    justify-content: center;
    color: burlywood;
    padding: 2px;
  }


/*/////////////////////////////////////*/
/*////////// Index Page ///////////////*/
/*/////////////////////////////////////*/

.main {
  background-image: url('../resources/background_wood.jpg');
}

.index-images {
  height: 200px;
  width: 100%;
}

.results-images {
  height: 500px;
  width: 100%;
}

.results-pad-bottom {
  padding-bottom: 40px;
}

.index-main {
  background-color: #39414f;
  border-radius: 25px;
}


.index-main-holder {
  width: 100%;
  height: 275px;
  padding: 3px;
  background-color: burlywood;
}
.index-main-holder:hover {
  padding: 0px;
  border: 3px solid #361c02;
}

.index-main-holder-img{
  height: 200px;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.index-item-box {
  padding-bottom: 20px;
}

/* Index Page Text Colors */

.index-main-process-text p{
  text-align: center;
  color: #39414f;
}
.index-main-scenario-text p{
  color: #39414f;
  text-align: center;
}
.index-main-results-text p{
  color: #39414f;
  text-align: center;
}
.index-main-ml-text p{
  color: #39414f;
  text-align: center;
}
.index-main-sources-text p{
  color: #39414f;
  text-align: center;
}

.index-main-process-text p:hover{
  text-decoration: none;
}
.index-main-scenario-text p:hover{
  text-decoration: none;
}
.index-main-results-text p:hover{
  text-decoration: none;
}
.index-main-ml-text p:hover{
  text-decoration: none;
}
.index-main-sources-text p:hover{
  text-decoration: none;;
}


/*///////////////////////////////////////////*/
/*/////////// Background Page ///////////////*/
/*///////////////////////////////////////////*/

.background-main {
  background-color: #39414f;
  border-radius: 25px;
}

.background-second-block {
  padding-bottom: 30px;
  padding-top: 30px;
}

.background-main-text {
  padding-top: 30px;
  text-align: center;
}

#background-line {
  border: 1px solid burlywood;
}

.background-second-group{
  text-align: center;
}

/*///////////////////////////////////////////*/
/*///////////// Process Page ////////////////*/
/*///////////////////////////////////////////*/

.process {
  background-image: url('../resources/coffee_process.jpg');
}

.process-main {
  background-color: #39414f;
  border-radius: 25px;
  padding: 50px;
}

.process-title-container {
  text-align: center;
}

#process-line {
  border: 1px solid burlywood;
}


/*///////////////////////////////////////////*/
/*///////////// Results Page ////////////////*/
/*///////////////////////////////////////////*/
.results {
  background-image: url('../resources/background_wood.jpg');
}

.results-title {
  color: burlywood;
  text-align: center;
}

.results-container {
  background-color: #39414f;
  border-radius: 25px;
}
.tableau-item {
  width:60%;
  right: 20%;
}

.tableauViz {
  width: 100%
}

.results-title-container {
  padding-bottom: 30px;
}

#results-line {
  border: 1px solid burlywood !important;
}

.tableau-titles {
  text-align: center;
  color: burlywood;
  padding-bottom: 20px;
}

/*///////////////////////////////////////////*/
/*//////////////// ML Page //////////////////*/
/*///////////////////////////////////////////*/
.machine_learning {
  background-image: url('../resources/mach_lrning.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
}

.machln-container {
  background-color: #39414f;
  padding-bottom: 20px;
  border-radius: 25px;
}

.machln-title {
  color: burlywood;
  text-align: center;
}

.machln-images {
  height: 170px;
  width: 95%;
}

.machln-images-primary {
  height: 350px;
  width: 80%;
}

.machln-images-primary-secondary {
  height: 350px;
  width: 90%;
}

.machln-images-primary-header-text {
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
}

.machln-title-primary {
  color: burlywood;
  text-align: center;
}

.machln-title-primary-1 {
  color: burlywood;
  text-align: center;
}

.ml-title-padd {
  padding-bottom: 40px;
}

.ml-title-padd-econ {
  padding-bottom: 20px;
}

.machln-app-link a {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: burlywood;
  list-style-type: none;
}

.machln-app-link a:hover {
  background-color: burlywood;
  color: #39414f;
  border-radius: 5px;
}
/*////////////////////////////////////////////////*/
/*//////////////// Sources Page //////////////////*/
/*////////////////////////////////////////////////*/
.source_page {
  background-image: url('../images/genericCoffephoto.png');
  height: 100%;
  background-position: center;
  background-size: cover;
}

.sources-container{ 
  background-color: #39414f;
  border-radius: 25px;
  padding: 50px;
}

#sources-line {
  border: 1px solid burlywood;
}

/*////////////////////////////////////////////////*/
/*///////////////// Graph Pages //////////////////*/
/*////////////////////////////////////////////////*/

.graph-hr {
  border: 1px solid burlywood;
}

.hr-spacer {
  padding-bottom: 70px;
}


.title-machln {
  padding-bottom: 40px;
  padding-top: 20px;
}

.title-machln-header {
  padding-bottom: 20px;
  padding-top: 20px;
}

.machln-primary {
  padding-bottom: 70px;
}
